Pillow>=9.0.0
numpy>=1.21.0
opencv-python>=4.5.5
ttkbootstrap>=1.10.0
PyYAML>=6.0

# Inference Engine
# You need either 'tensorflow' or 'tflite-runtime'.
# TensorFlow is easier to install on standard Windows/Linux but very large.
# tflite-runtime is smaller but may require specific wheel files on Windows.
tensorflow>=2.8.0
# tflite-runtime>=2.5.0
